// .widget-order-stats {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 15px;
//     justify-content: space-between;
  
//     @media (max-width: 768px) {
//       flex-direction: column;
//     }
//   }
.widget-order-stats {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
  }
  